

* {
  font-family: 'Dosis',  sans-serif;
}

a {text-decoration:none;color:black;}

.Praktikum{
  font-size: 1.5em;
  border: 2px solid black;
  border-radius: 8px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 60px;
}

.lebenslauf p,li,h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lebenslauf h1 {
  font-family: 'Poiret One', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}
