

http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers */


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body
{
  font-family: 'Source Sans Pro', sans-serif;
}

#leagleisberg {
  font-family: 'Poiret One', cursive;
  font-size: 3em;
  position: fixed;
  right: 30px;

}

#portfolio {
  font-family: 'Poiret One', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7em;
  margin-top: 100px;
}

#lebenslauf {
  font-family: 'Poiret One', cursive;
  font-size: 2.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bewerbungsmappe {
  font-family: 'Poiret One', cursive;
  font-size: 2.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 175px;
}





a {
  text-decoration: none; color:#171414;
}


.navigation a:hover {
  border-bottom: 6px solid #343538;
}

img {
  margin-bottom: 50px;
  height: auto;
  width: 77%;
  display: flex;
  justify-content: center;
}

/* mit Profilbild

.profilbild {
  margin-top: 400px;
  margin-left: 50px;
  height: auto;
  width: 50%;
  float: left;
}
*/

.profiltext {
  margin: 400px 100px;
  margin-bottom: 120px;
  font-family: 'Dosis', sans-serif;
  color: black;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}



.fblogo {
  display: flex;
  justify-content: space-around;
}

.fblogo a:hover {
  color: darkblue;
}



.nachoben a {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
